In [1]:
from astropy.table import QTable, Table, Column, vstack, hstack, dstack
from astropy import units as u
import numpy as np

---

# 基础内容

## 创建table

In [3]:
a = np.array([123, 234, 345], dtype=np.int32)
b = [2.0, 5.0, 3.1]
c = ['x', 'y', 'z']
d = [10, 20, 30] * u.m / u.s

t = QTable([a, b, c, d],
          names=('a', 'b', 'c', 'velocity'),
          meta={'说明': '这里可以写表格的说明文字'})

In [12]:
# 创建空table
t = QTable()
print(t)
t['a'] = [1, 2, 3]
print(t)
(((123)))

<No columns>
 a
---
  1
  2
  3

## 表格输出方式

In [4]:
print(t)

 a   b   c  velocity
             m / s
--- --- --- --------
123 2.0   x     10.0
234 5.0   y     20.0
345 3.1   z     30.0

In [5]:
t

<QTable length=3>
  a      b     c   velocity
                    m / s
int32 float64 str1 float64
----- ------- ---- --------
  123     2.0    x     10.0
  234     5.0    y     20.0
  345     3.1    z     30.0

In [6]:
t.show_in_notebook() # 豪华输出

In [7]:
#t.show_in_browser() # 打开一个网页窗口显示

In [8]:
#t.show_in_browser(jsviewer=True) # 打开一个网页窗口豪华输出

## 修改某列的数据格式

In [9]:
t['b'].info.format = '.2f'
t

<QTable length=3>
  a      b     c   velocity
                    m / s
int32 float64 str1 float64
----- ------- ---- --------
  123    2.00    x     10.0
  234    5.00    y     20.0
  345    3.10    z     30.0

## 查看表格信息

### 查看列名

In [10]:
t.colnames

['a', 'b', 'c', 'velocity']

### 查看数据行数

In [11]:
len(t)

3

### 查看表格说明

In [12]:
t.meta

{'说明': '这里可以写表格的说明文字'}

## 数据索引

In [13]:
t['b'] # 索引一列，输出一个行向量（以列显示）

<Column name='b' dtype='float64' format='.2f' length=3>
2.00
5.00
3.10

In [14]:
t['b'][0] # b列中的第0号元素

2.0

In [15]:
t[0] # 输出第0行数据

<Row index=0>
  a      b     c   velocity
                    m / s
int32 float64 str1 float64
----- ------- ---- --------
  123    2.00    x     10.0

In [16]:
t[0]['c'] # 第0行中的c列元素

'x'

## 表格切片

In [17]:
t # 整个表格

<QTable length=3>
  a      b     c   velocity
                    m / s
int32 float64 str1 float64
----- ------- ---- --------
  123    2.00    x     10.0
  234    5.00    y     20.0
  345    3.10    z     30.0

In [18]:
t[0:2] # 输出某几行

<QTable length=2>
  a      b     c   velocity
                    m / s
int32 float64 str1 float64
----- ------- ---- --------
  123    2.00    x     10.0
  234    5.00    y     20.0

In [19]:
 t['a', 'c'] # 输出指定某几列

<QTable length=3>
  a    c
int32 str1
----- ----
  123    x
  234    y
  345    z

## 修改表格数据
>索引+赋值

In [20]:
print('原始表格：\n', t)

原始表格：
  a   b    c  velocity
              m / s
--- ---- --- --------
123 2.00   x     10.0
234 5.00   y     20.0
345 3.10   z     30.0

In [21]:
# 将a列中的所有元素修改为-1，-2，-3
t['a'][:] = [-1, -2, -3]
t

<QTable length=3>
  a      b     c   velocity
                    m / s
int32 float64 str1 float64
----- ------- ---- --------
   -1    2.00    x     10.0
   -2    5.00    y     20.0
   -3    3.10    z     30.0

In [22]:
# 将a列中第2个元素修改成99
t['a'][1] = 99
t

<QTable length=3>
  a      b     c   velocity
                    m / s
int32 float64 str1 float64
----- ------- ---- --------
   -1    2.00    x     10.0
   99    5.00    y     20.0
   -3    3.10    z     30.0

## 增加/删除行列

In [23]:
# 修改列名
t.rename_column('a', 'A')
t

<QTable length=3>
  A      b     c   velocity
                    m / s
int32 float64 str1 float64
----- ------- ---- --------
   -1    2.00    x     10.0
   99    5.00    y     20.0
   -3    3.10    z     30.0

In [24]:
# 增加列
t['d'] = ['xin', 'jia', 'lie']
t

<QTable length=3>
  A      b     c   velocity  d
                    m / s
int32 float64 str1 float64  str3
----- ------- ---- -------- ----
   -1    2.00    x     10.0  xin
   99    5.00    y     20.0  jia
   -3    3.10    z     30.0  lie

In [25]:
# 删除列
del t['d']
t

<QTable length=3>
  A      b     c   velocity
                    m / s
int32 float64 str1 float64
----- ------- ---- --------
   -1    2.00    x     10.0
   99    5.00    y     20.0
   -3    3.10    z     30.0

In [26]:
# 添加行
t.add_row([-9, 9.99, 'new', 10 * u.cm / u.s])
t

<QTable length=4>
  A      b     c   velocity
                    m / s
int32 float64 str3 float64
----- ------- ---- --------
   -1    2.00    x     10.0
   99    5.00    y     20.0
   -3    3.10    z     30.0
   -9    9.99  new      0.1

In [27]:
# 删除行
del t[3]
t

<QTable length=3>
  A      b     c   velocity
                    m / s
int32 float64 str3 float64
----- ------- ---- --------
   -1    2.00    x     10.0
   99    5.00    y     20.0
   -3    3.10    z     30.0

## 设置元素为缺失值(masked)

In [28]:
t = QTable([a, b, c], 
          names=('a', 'b', 'c'), 
          masked=True)
t

<QTable masked=True length=3>
  a      b     c
int32 float64 str1
----- ------- ----
  123     2.0    x
  234     5.0    y
  345     3.1    z

In [29]:
# 设置a列前两个元素为缺失值
t['a'].mask = [True, True, False]
t['a'][0]

masked

In [30]:
print(t)

 a   b   c
--- --- ---
 -- 2.0   x
 -- 5.0   y
345 3.1   z

---

# 表操作

## 分组操作

In [31]:
# 创建一个table
obs = Table.read("""name    obs_date    mag_b  mag_v
                    M31     2012-01-02  17.0   17.5
                    M31     2012-01-02  17.1   17.4
                    M101    2012-01-02  15.1   13.5
                    M82     2012-02-14  16.2   14.5
                    M31     2012-02-14  16.9   17.3
                    M82     2012-02-14  15.2   15.5
                    M101    2012-02-14  15.0   13.6
                    M82     2012-03-26  15.7   16.5
                    M101    2012-03-26  15.1   13.5
                    M101    2012-03-26  14.8   14.3
                    """, format='ascii')
print(obs,'\n数据行数:', len(obs))

name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
M101 2012-01-02  15.1  13.5
 M82 2012-02-14  16.2  14.5
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  15.2  15.5
M101 2012-02-14  15.0  13.6
 M82 2012-03-26  15.7  16.5
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3
数据行数: 10

### 按标签分组
>group_by() 指定标签，并按此标签重新排序数据行

In [32]:
obs_by_name = obs.group_by('name')
print(obs_by_name)
print('\n原始table：\n', obs)

name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  16.2  14.5
 M82 2012-02-14  15.2  15.5
 M82 2012-03-26  15.7  16.5

原始table：
 name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
M101 2012-01-02  15.1  13.5
 M82 2012-02-14  16.2  14.5
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  15.2  15.5
M101 2012-02-14  15.0  13.6
 M82 2012-03-26  15.7  16.5
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3

In [33]:
# 显示分组的关键字列表
print(obs_by_name.groups.keys)

name
----
M101
 M31
 M82

In [34]:
# 分组的标签可以不止一个，即先按第一个标签排序，再按第二个
print(obs.group_by(['name', 'obs_date']))
print('\n原始table：\n', obs)
print(obs.group_by(['name', 'obs_date']).groups.keys)

name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  16.2  14.5
 M82 2012-02-14  15.2  15.5
 M82 2012-03-26  15.7  16.5

原始table：
 name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
M101 2012-01-02  15.1  13.5
 M82 2012-02-14  16.2  14.5
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  15.2  15.5
M101 2012-02-14  15.0  13.6
 M82 2012-03-26  15.7  16.5
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3
name  obs_date
---- ----------
M101 2012-01-02
M101 2012-02-14
M101 2012-03-26
 M31 2012-01-02
 M31 2012-02-14
 M82 2012-02-14
 M82 2012-03-26

### 索引分组后的小组

In [35]:
print(obs_by_name)
print(obs_by_name.groups.keys)
print(obs_by_name.groups[0]) # 访问第0号小组

name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  16.2  14.5
 M82 2012-02-14  15.2  15.5
 M82 2012-03-26  15.7  16.5
name
----
M101
 M31
 M82
name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3

In [36]:
# 可以索引多个小组
groups01 = obs_by_name.groups[0:2]
print(groups01)

name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3

### 使用布尔值分组

In [37]:
mask = obs_by_name.groups.keys['name'] == 'M31'
print(obs_by_name.groups[mask])

name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3

In [38]:
type(obs_by_name.groups.keys['name'])

astropy.table.column.Column

### 迭代小组

In [39]:
for key, group in zip(obs_by_name.groups.keys, obs_by_name.groups):
    print('****** {0} *******'.format(key['name']))
    print(group)
    print('')

****** M101 *******
name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3

****** M31 *******
name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3

****** M82 *******
name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M82 2012-02-14  16.2  14.5
 M82 2012-02-14  15.2  15.5
 M82 2012-03-26  15.7  16.5

## 聚合

### 小组平均
>将table中相同的keys的小组取平均，生成新的table，注意取不了平均的列会被略去

In [40]:
obs_mean = obs_by_name.groups.aggregate(np.mean)  
print(obs_by_name.groups.keys)

print(obs_mean) 
print('\n原始table：\n', obs.group_by('name'))

name
----
M101
 M31
 M82
name       mag_b              mag_v
---- ------------------ ------------------
M101 15.000000000000002 13.725000000000001
 M31               17.0 17.400000000000002
 M82 15.699999999999998               15.5

原始table：
 name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  16.2  14.5
 M82 2012-02-14  15.2  15.5
 M82 2012-03-26  15.7  16.5

WARNING: Cannot aggregate column 'obs_date' with type '<U10' [astropy.table.groups]

### 指定标签的小组平均

In [41]:
print(obs_by_name['mag_b'].groups.aggregate(np.mean))

      mag_b
------------------
15.000000000000002
              17.0
15.699999999999998

In [42]:
print(obs_by_name['name', 'mag_b'].groups.aggregate(np.mean))

name       mag_b
---- ------------------
M101 15.000000000000002
 M31               17.0
 M82 15.699999999999998

## 筛选

In [43]:
def all_positive(table, key_colnames):
    colnames = [name for name in table.colnames if name not in key_colnames]
    for colname in colnames:
        if np.any(table[colname] < 0):
            return False
    return True

In [44]:
# 创建一个table
t = Table.read(""" a   b    c
                  -2  7.0   0
                  -2  5.0   1
                   1  3.0  -5
                   1 -2.0  -6
                   1  1.0   7
                   0  0.0   4
                   3  3.0   5
                   3 -2.0   6
                   3  1.0   7""", format='ascii')
t

<Table length=9>
  a      b      c
int64 float64 int64
----- ------- -----
   -2     7.0     0
   -2     5.0     1
    1     3.0    -5
    1    -2.0    -6
    1     1.0     7
    0     0.0     4
    3     3.0     5
    3    -2.0     6
    3     1.0     7

In [45]:
# 按标签'a'分组排列
tg = t.group_by('a')
tg

<Table length=9>
  a      b      c
int64 float64 int64
----- ------- -----
   -2     7.0     0
   -2     5.0     1
    0     0.0     4
    1     3.0    -5
    1    -2.0    -6
    1     1.0     7
    3     3.0     5
    3    -2.0     6
    3     1.0     7

In [46]:
t_positive = tg.groups.filter(all_positive)
for group in t_positive.groups:
    print(group)
    print('')

 a   b   c
--- --- ---
 -2 7.0   0
 -2 5.0   1

 a   b   c
--- --- ---
  0 0.0   4

---

# 表拼接

In [47]:
# 创建两个table
obs1 = Table.read("""name    obs_date    mag_b  logLx
                     M31     2012-01-02  17.0   42.5
                     M82     2012-10-29  16.2   43.5
                     M101    2012-10-31  15.1   44.5""", format='ascii')

obs2 = Table.read("""name    obs_date    logLx
                     NGC3516 2011-11-11  42.1
                     M31     1999-01-05  43.1
                     M82     2012-10-30  45.0""", format='ascii')

print(obs1)
print(' ')
print(obs2)

name  obs_date  mag_b logLx
---- ---------- ----- -----
 M31 2012-01-02  17.0  42.5
 M82 2012-10-29  16.2  43.5
M101 2012-10-31  15.1  44.5

  name   obs_date  logLx
------- ---------- -----
NGC3516 2011-11-11  42.1
    M31 1999-01-05  43.1
    M82 2012-10-30  45.0

## 垂直堆叠(Vertically Stack: vstack函数)

In [48]:
print(vstack([obs1, obs2])) # 可以堆叠多个table

  name   obs_date  mag_b logLx
------- ---------- ----- -----
    M31 2012-01-02  17.0  42.5
    M82 2012-10-29  16.2  43.5
   M101 2012-10-31  15.1  44.5
NGC3516 2011-11-11    --  42.1
    M31 1999-01-05    --  43.1
    M82 2012-10-30    --  45.0

In [49]:
# vstack函数的默认join_type='outer'，所以obs2中没有的mag_b列的元素在堆叠后以--显示。
# 另外两种join_type='inner'; join_type='exact'
print(vstack([obs1, obs2], join_type='inner'))

  name   obs_date  logLx
------- ---------- -----
    M31 2012-01-02  42.5
    M82 2012-10-29  43.5
   M101 2012-10-31  44.5
NGC3516 2011-11-11  42.1
    M31 1999-01-05  43.1
    M82 2012-10-30  45.0

In [50]:
#join_type='exact'要求精确匹配，否则报错
#print(vstack([obs1, obs2], join_type='exact'))

## 水平堆叠(Horizontally stack: hstack函数)
>hstack也有三种join_type: 'inner', 'outer'(默认), 'exact'(准确匹配)

In [51]:
t1 = Table.read("""a   b    c
                   1   foo  1.4
                   2   bar  2.1
                   3   baz  2.8""", format='ascii')
t2 = Table.read("""d     e
                   ham   eggs
                   spam  toast""", format='ascii')
print(t1)
print('')
print(t2)

 a   b   c
--- --- ---
  1 foo 1.4
  2 bar 2.1
  3 baz 2.8

 d     e
---- -----
 ham  eggs
spam toast

In [52]:
print(hstack([t1, t2])) # 默认的join_type='outer'

 a   b   c   d     e
--- --- --- ---- -----
  1 foo 1.4  ham  eggs
  2 bar 2.1 spam toast
  3 baz 2.8   --    --

In [53]:
print(hstack([t1, t2], join_type='inner')) # 不存在的数据所在行会忽略

 a   b   c   d     e
--- --- --- ---- -----
  1 foo 1.4  ham  eggs
  2 bar 2.1 spam toast

## 纵深堆叠(Depth-wise Stack: dstack函数)

In [54]:
src1 = Table.read("""psf_frac  counts
                     0.10        45
                     0.50        90
                     0.90       120
                     """, format='ascii')

src2 = Table.read("""psf_frac  counts
                     0.10       200
                     0.50       300
                     0.90       350
                     """, format='ascii')
print(src1)
print('')
print(src2)

psf_frac counts
-------- ------
     0.1     45
     0.5     90
     0.9    120

psf_frac counts
-------- ------
     0.1    200
     0.5    300
     0.9    350

In [55]:
srcs = dstack([src1, src2]) # 可以想象成把两个结构一样的列表纵向拍扁在一起，成为3维列表（表格有深度）
print(srcs)
print('')
print(srcs.colnames) # 查看列名
print('')
print(srcs['psf_frac'][0]) # 查看'psf_frac'列的第一个元素，是一个有两个元素的列表
len(srcs['psf_frac'][0]) # 确实有两个元素

psf_frac [2] counts [2]
------------ ----------
  0.1 .. 0.1  45 .. 200
  0.5 .. 0.5  90 .. 300
  0.9 .. 0.9 120 .. 350

['psf_frac', 'counts']

[0.1 0.1]

2

# t.copy(): 复制

In [64]:
t = Table.read("""psf_frac  counts
                     0.10        45
                     0.50        90
                     0.90       120
                     """, format='ascii')

print(t)
t1 = t.copy()
del t1[0]
t1
t

psf_frac counts
-------- ------
     0.1     45
     0.5     90
     0.9    120

<Table length=3>
psf_frac counts
float64  int64
-------- ------
     0.1     45
     0.5     90
     0.9    120

# join方法